<div class="container">
  <div class="row mt-4">
    <div class="col-8">
      <h3>Drill Group: <%= @drill_group.name %></h3>
    </div>
    <div class="col-4">
      <%= link_to 'Edit Group', edit_drill_group_path(@drill_group), class: 'btn btn-outline-secondary' %>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <p><%= @drill_group.description %></p>
    </div>
  </div>
</div>

<div class="container">
  <% @drill_group.questions.each do |question| %>
    <div class="row drill-question">
      <div class="col-10">
        <p>Drill: <%= question.description %></p>
      </div>
      <div class="btn-group col-2">
        <%= link_to 'Edit', edit_drill_group_question_path(@drill_group, question), class: 'btn btn-outline-secondary' %>
        <%= link_to 'Delete', drill_group_question_path(@drill_group, question), method: :delete, class: 'btn btn-outline-secondary' %>
      </div>
    </div>
  <% end %>
</div>

<div class="container">
  <div class="card">
    <div class="card-body">
      <h5>Add New Drill</h5>
      <%= render 'questions/form' %>
    </div>
  </div>
</div>
