<div class="container">
  <div class="row mt-4">
    <div class="col-8">
      <h3>Drill Group: <%= @drill_group.name %></h3>
    </div>
    <div class="col-4">
      <%= link_to 'Edit Group', edit_drill_group_path(@drill_group), class: 'btn btn-outline-secondary' %>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <p><%= @drill_group.description %></p>
    </div>
  </div>
</div>

<div class="container">
  <% @drill_group.questions.each do |question| %>
    <div class="row drill-question">
      <div class="col-10">
        <p>Drill: <%= question.description %></p>
      </div>

      <div class="btn-group col-2">
        <%= link_to 'Edit', edit_drill_group_question_path(question), class: 'btn btn-outline-secondary' %>
        <%= link_to 'Delete', drill_group_question_path(question), method: :delete, class: 'btn btn-outline-secondary' %>
      </div>
    </div>
  <% end %>
</div>

<div class="container">
  <div class="card">
    <div class="card-body">
      <h5>Add New Drill</h5>
      <%= simple_form_for [@drill_group, @question] do |q| %>
        <%= q.input :description, label: 'Drill Description' %>

        <%= q.simple_fields_for :solutions do |sol| %>
          <%= render 'solution_fields', f: sol %>
        <% end %>

        <div class="links">
          <%= link_to_add_association 'Add Another Solution', q, :solutions, class: 'btn btn-outline-secondary' %>
        </div>

        <%= q.submit 'Save Drill', class: 'btn btn-secondary' %>
      <% end %>
    </div>
  </div>
</div>
