<hr>
<div class="container-fluid">
  <h1>Sign In</h1>
  <%= form_for :session, url: session_path do |f| %>
  <div>
    <div class="form-input form-group">
      <div class="label">
        <%= f.label :email %>
      </div>
      <div class="form">
        <%= f.email_field :email, class: 'form-control input-lg' %>
      </div>
    </div>

    <div class="form-input form-group">
      <div class="label">
        <%= f.label :password %>
      </div>
      <div class="form">
        <%= f.password_field :password, class: 'form-control input-lg' %>
      </div>
    </div>
    <%= f.submit "Reset Your Password", class: "btn btn-primary" %>
  </div>
<% end %>
</div>
