<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <h1>Leaderboard</h1>
    </div>
  </div>
  <div class="row">
    <div class="<%= (user_signed_in?) ? 'col-8' : 'col-12' %>">
      <% @leaders.each do |leader| %>
        <div class="row">
          <div class="col-8">
            <%= leader[:user].full_name %> (<%= leader[:user].email %>)
          </div>
          <div class="col-4">
            <%= number_with_delimiter leader[:points].to_i %> points
          </div>
        </div>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <div class="col-4 center-text">
        <div id="user-points">
          <h1>You</h1>
          <p><%= number_with_delimiter @current_user_points.to_i %> points</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
