<div class="container">
  <h1><%= @user.full_name %></h1>

  <div id="accordion" class="mt-3">
    <div class="card card-opacity">
      <div class="card-header" id="#view-scores">
        <h5 class="mb-0 text-center">
          <button class="btn btn-link" data-toggle="collapse" data-target="#view-scores" aria-expanded="true" aria-controls="view-scores">
            <h6 class="profile-headers">View Scores</h6>
          </button>
        </h5>
      </div>

      <div id="view-scores" class="collapse" aria-labelledby="view-scores" data-parent="#accordion">
        <div class="card-body">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Drill Group</th>
                  <th scope="col">Score</th>
                </tr>
              </thead>

              <% @attempts.each do |attempt| %>
              <% drill_group = DrillGroup.find (attempt.drill_group_id) %>
              <tbody>
                <tr>
                  <% if attempt.score %>
                    <td><%= drill_group.name %></td>
                    <td><%= number_to_percentage(((attempt.score*100)/drill_group.points) * 100, precision: 0) %></td>
                  <% end %>
                </tr>
              </tbody>
              <% end %>
            </table>
        </div>
      </div>
    </div>

    <div class="card card-opacity mt-3">
      <div class="card-header" id="#edit-info">
        <h5 class="mb-0 text-center">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#edit-info" aria-expanded="false" aria-controls="edit-info">
            <h6 class="profile-headers">Edit Information</h6>
          </button>
        </h5>
      </div>
      <div id="edit-info" class="collapse" aria-labelledby="edit-info" data-parent="#accordion">
        <div class="card-body">
          <%= simple_form_for @user do |f| %>
            <%= f.input :first_name, required: false %>
            <%= f.input :last_name, required: false %>
            <%= f.input :email, required: false %>

            <%= f.submit 'Update Information', method: 'PATCH', class: 'btn btn-secondary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- id: 153,
user_id: 19,
drill_group_id: 45,
score: 183.0,
current_question_id: 227,
created_at: "2018-03-18 18:49:13",
updated_at: "2018-03-18 18:49:13" -->
