<!DOCTYPE html>
<html>
  <head>
    <title>DrillNinjaz</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if !@hide_navbar %>
      <nav class="navbar navbar-light ">
        <div id="ninja-nav" class="col-1">
          <%= image_tag(
          "ninja.png",
          style: "height: 45px; margin-left: 30px"
          ) %>
        <div style="margin-left:0px">Drill Ninja</div>
        </div>
        <div class="col text">
          <%= link_to 'Drillz', drill_groups_path %>
          |
          <%= link_to 'Leaderboard', leaderboard_path %>
        </div>
        <% if user_signed_in? %>
        <div class="col text" style="text-align: right">
          <span>Hello <%= current_user.first_name %>,</span>

        <%= link_to 'Profile', '#' %>
        |
        <%= link_to 'Logout', session_path, method: :delete %>
        </div>
          <% else %>
          <%= link_to 'Sign In', new_session_path %>
          |
          <%= link_to 'Sign Up', new_user_path %>
          |
          <% end %>
      </nav>
    <% end %>
    <%= yield %>
  </body>
</html>
