<!DOCTYPE html>
<html>
  <head>
    <title>DrillNinjaz</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if !@hide_navbar %>
    <nav class="navbar navbar-light ">

      <div  class="col-1" id="navbar-logo" style="height: 100px;">
        <%= image_tag( "ninja.png", style: "height: 75px; ") %>
        <div id="ninja-nav"><strong> Drill Ninja</strong></div>
      </div>


      <div class="col text", style="font-size: 20px">
        <% if current_user.present? %>
        <%= link_to 'Drillz', drill_group_tabs_path(current_user) %>
        |
        <% end %>

        <%= link_to 'Leaderboard', leaderboard_path %>

        <% if current_user&.is_admin? %>
        |
        <%= link_to 'My Drillz', drill_groups_path %>
        <% end %>
      </div>

      <% if user_signed_in? %>
      <div class="col text" style="text-align: right; font-size: 20px">
        <span>Hello
          <%= current_user.first_name %>,</span>

          <%= link_to 'Profile', user_path(current_user) %>
          |
          <%= link_to 'Logout', session_path, method: :delete %>
        </div>
        <% end %>
      </nav>
    <% end %>


    <div class="container-fluid">
      <% if flash[:notice].present? %>
        <div class="alert alert-primary alert-dismissible fade show d-flex justify-content-center" role="alert">
          <%= flash[:notice] %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% elsif flash[:alert].present? %>
          <div class="alert alert-danger alert-dismissible fade show d-flex justify-content-center" role="alert">
            <%= flash[:alert] %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>

        <%= yield %>
      </body>
    </html>
